/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ff6f61, #ff9d6c);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#formlogin {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h2 {
    color: #333;
}

label, input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"], button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff6f61;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover, button:hover {
    background-color: #ff9d6c;
}

button {
    margin-top: 20px;
    width: 100%;
    background-color: #ff6f61;
    border: 1px solid #ff9d6c;
}

button:hover {
    background-color: #ff9d6c;
    border: 1px solid #ff6f61;
}
